<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="XMLConfigTest"
               packages="com.my">
    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%-5level] %logger{36} - %msg%n"/>
        </Console>
        <Appender type="File" name="File_INFO" fileName="${sys:logInfo}" append="true">
            <Layout type="PatternLayout">
                <Pattern>%d [%-5p] %-10.20c %m %ex%n</Pattern>
            </Layout>
            <Filters>
                <Filter type="MarkerFilter" marker="FLOW" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Appender>
        <Appender type="File" name="File_ERR" fileName="${sys:logErr}" append="true">
            <Layout type="PatternLayout">
                <Pattern>%d [%-5p] %-10.20c %m %ex%n</Pattern>
            </Layout>
            <Filters>
                <Filter type="MarkerFilter" marker="FLOW" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
        </Appender>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="com.my" level="info">
            <AppenderRef ref="File_INFO"/>
            <AppenderRef ref="File_ERR"/>
        </Logger>
    </Loggers>
</Configuration>
