html, body{
	margin: 0;
	padding: 0;
}
table {
    margin-left: 30px;
    width: 70%;
    border: 4px double black;
    border-collapse: collapse;
}
th {
    text-align: left;
    background: #ccc;
    padding: 5px;
    border: 1px solid black;
}
td {
    padding: 5px;
    border: 1px solid black;
}

.header{
    background: #6e9cc3;
    display: flex;
    align-items: center;
    width: 100%;
    height: 72px;
}
.body-centre{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 10px 0 0;
    justify-content: center;
}
.header-right{
    flex-grow: 1;
    padding-right: 190px;
}
.header-left{
    padding-left: 30px;
}

.topic{
    font-size: 15px;
    text-decoration: none;
}

.topicT{
    font-size: 15px;
    text-decoration: none;
    color: #6e9cc3;
}
.topic1{
    font-size: 15px;
    text-decoration: none;
    padding: 8px 16px;
    float: left;
    transition: background-color .3s;
}

.leftCentre{
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px;
    }

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: dodgerblue;
    color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}

